@import 'libs/normalize';
@import 'base/variables';
@import 'blocks/modal+form';
@import 'blocks/buttons';
@import 'blocks/main';
@import 'blocks/media';

* {
	box-sizing: border-box;
}
body {
	background: #010202;
	font-family: "Source Sans Pro", sans-serif;
}
