a {
	text-decoration: none;
	outline: none;
}

.header {
	width: 90%;
	max-width: 1146px;
	margin: auto;
	padding: 56px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: block;
}
.user {
	display: flex;
	align-items: center;
	&__photo {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
}
.app {
	background: linear-gradient(90deg, #010202 0%, #010202 50%, rgba(1, 2, 2, 0.2) 44.9%);
	min-height: 100vh;
	color: #fff;
}
.film {
	width: 90%;
	max-width: 1146px;
	margin: auto;
	padding-top: 200px;
	&__desrc {
		max-width: 460px;
		font-size: 21px;
		line-height: 140%;
		margin-bottom: 36px;
	}
}
.tags {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 18px;
	color: #e5e5e5;
	opacity: 0.4;
	font-size: 16px;
	line-height: 140%;
	> * {
		margin-right: 15px;
		margin-bottom: 10px;
	}
	&__age {
		opacity: 0.5;
		border: 1px solid #ffffff;
		box-sizing: border-box;
		border-radius: 2px;
		padding: 1px 5px 1px 4px;
		margin-right: 0;
	}
}
